<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="ZenLemon Squeeze Plugin"
        android:allowBackup="false">
        <service
            android:name=".SqueezePluginService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zenlemon.plugin.API" />
            </intent-filter>
            <meta-data
                android:name="plugin_name"
                android:value="ZenLemon Squeeze" />
            <meta-data
                android:name="plugin_description"
                android:value="Native YouTube extraction for ZenLemon TV" />
        </service>
    </application>

</manifest>
